
    <div class="footer_div my-5">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-md-2 col-6">
                    <ul style="list-style: none;"> 
                        <li><a href="">About Us</a></li><br>
                        <li><a href="">Our History</a></li>
                        <li><a href="">Leadership Team</a></li>
                        <li><a href="">Values In Action</a></li>
                        <li><a href="">Investor Relations</a></li>
                        <li><a href="">News & Notifications</a></li>
                        <li><a href="">Franchise Info</a></li>
                        <li><a href="">Recalls & Alerts</a></li>
                        <li><a href="">Our Food, Your Questions</a></li>
                    </ul>
                </div>
            
                <div class="col-md-2 col-6">
                     <ul style="list-style: none;"> 
                        <li><a href="">Carrers</a></li><br>
                        <li><a href="">Education Opportunities</a></li>
                        <li><a href="">Employee Perks</a></li>
                        <li><a href="">Meet Our People: Staff & Management</a></li>
                        <li><a href="">Working with Us</a></li>
                        <li><a href="">Apply Now</a></li>
                      </ul>
                </div>
                
                <div class="col-md-2 col-6">
                    <ul style="list-style: none;"> 
                        <li><a href="">Services</a></li><br>
                        <li><a href="">Wi-Fi</a></li>
                        <li><a href="">Arch Card®</a></li>
                        <li><a href="">PlayPlaces & Parties</a></li>
                        <li><a href="">McDelivery®</a></li>
                        <li><a href="">Download App</a></li>
                        <li><a href="">McDonald’s Merchandise</a></li>
                        <li><a href="">Family Fun Hub</a></li>
                      </ul>
                </div>
                
                <div class="col-md-2 col-6">
                    <ul style="list-style: none;"> 
                        <li><a href="">Community</a></li><br>
                        <li><a href="">HACER® Scholarships for Hispanic Students</a></li>
                        <li><a href="">Ronald McDonald House Charities</a></li>
                        <li><a href="">McDonald’s APA</a></li>
                        <li><a href="">McDonald’s International</a></li>
                        <li><a href="">Black & Positively Golden</a></li>
                      </ul>
                </div>
                
                <div class="col-md-2 col-6">
                    <ul style="list-style: none;"> 
                        <li><a href="">Contact Us</a></li><br>
                        <li><a href="">Arch Card</a></li>
                        <li><a href="">Donations</a></li>
                        <li><a href="">Employment</a></li>
                        <li><a href="">Mobile App Feedback</a></li>
                        <li><a href="">Restaurant Feedback</a></li>
                      </ul>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-md-6">
                    <ul class="nav" style="list-style: none;">
                        <li class="nav-item facebook"><a class="nav-link" href=""><i class="fa-2x fab fa-facebook"></i></a></li>
                        <li class="nav-item twitter"><a href="" class="nav-link"><i class="fa-2x fab fa-twitter"></i></a></li>
                        <li class="nav-item youtube"><a href="" class="nav-link"><i class="fa-2x fab fa-youtube"></i></a></li>
                        <li class="nav-item insta"><a href="" class="nav-link"><i class="fa-2x fab fa-instagram"></i></a></li>
                        <li class="nav-item spot"><a href="" class="nav-link"><i class="fa-2x fab fa-spotify"></i></a></li>      
                    </ul>
                </div>
                    <div class="col-md-6">
                    <ul class="nav justify-content-end">
                        <li class="nav-item"><a class="nav-link" href="">
                            <img class="img-fluid" src="https://www.mcdonalds.com/content/dam/usa/nfl/logo/app_store_badge.png" alt="img">
                        </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="">
                            <img class="img-fluid" src="https://www.mcdonalds.com/content/dam/usa/nfl/logo/google_play_badge.png" alt="img">
                        </a>
                        </li>
                    </ul>
                </div>
            </div>

                <hr>
                
            <div class="row my-4">
                <div class="col-12">
                    <ul class="nav"> 
                        <li class="nav-item"><a class="nav-link" href="">Privacy (Updated)</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Terms & Conditions</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Accessibility</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Do Not Sell My Personal Information</a></li>
                        <li class="nav-item"><a class="nav-link" href="">© 2017 - 2020 McDonald's. All Rights Reserved</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Cookie Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
