<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{!-- navbar  --}}
    {{>navbar}}

    {{!-- body  --}}

    <div class="">
        <div class="container food_fir_div">
            <div class="row">
                <div class="col-12 my-5">
                    <h1 class="text-center">About Our Food</h1>
                </div>
                <div class="col-12">
                    <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/hero/About_Our_Food_Hero_1260x560_Desktop.jpg?$Hero_Desktop$" alt="img">
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row my-5">
                <div class="col-12 ">
                    <h1 class="food_sec_div">We’re Passionate About Our Food</h2>
                    <p>From adding more balanced options to our Happy Meal®, to serving up fresh beef Quarter Pounder® 
                        burgers that are cooked when you order, we’re always 
                        finding ways to show our commitment to our customers and our food. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container">
            <div class="row">

                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/2_Pub_Commitment_574x384.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Commitment to Quality</h2>
                            <p>We're dedicated to improving the way we prepare our quality 
                                food and the ingredients that go into it.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/2_Pub_Food_Questions_574x384.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Our Food, Your Questions</h2>
                            <p>We're transparent about our food; so when you ask, we tell.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/2_Pub_Whats_In_Your_Food_574x384.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">What's in Your Food</h2>
                            <p>Find out what makes our ingredients special.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/about-food_philosophy_pub-2-col_1110x740.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Our Food Philosophy</h2>
                            <p>We’re passionate about our food. That’s why we’re committed to always evolving what matters to you.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>

                 <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/hero/Two_Pub_Desktop_Nutrition_Calculator_574x384.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Nutrition Calculator</h2>
                            <p>Our nutrition calculator has the McDonald’s menu nutrition 
                                information you’re seeking. Learn more about your favorite meals.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/hero/Two_Pub_Desktop_Nutrition_Calculator_574x384.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Nutrition Calculator</h2>
                            <p>Our nutrition calculator has the McDonald’s menu nutrition 
                                information you’re seeking. Learn more about your favorite meals.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/Our_Food_Experts_2-col_1110x740.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Our Food Experts</h2>
                            <p>From our chefs, to our dieticians and suppliers, McDonald’s food 
                                experts care deeply about the food you eat.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/Fresh_Beef_2-col_1110x740.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Fresh Beef</h2>
                            <p>Our Quarter Pounder®* patty is made with 100% fresh beef and cooked right when you order. 
                                It’s hot and deliciously juicy and full of flavor.</p>
                            <small>
                                *Weight before cooking 4 oz. At participating McDonald's. Fresh Beef available at most 
                                restaurants in contiguous US. Not available in Alaska, Hawaii, and US Territories.
                            </small>
                            <a href="" class="btn btn-warning mt-3">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/2_Pub_Happy_Meal_574x384.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Happy Meal® Nutrition</h2>
                            <p>When your kids enjoy a meal that’s delicious and balanced, you’ll enjoy it too.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 my-3">
                    <div class="card Food_card">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/about-our-food/Variety_2Col_1110x740_Desktop.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">Variety of Choices</h2>
                            <p>When it comes to quality options, we’ve got you covered.</p>
                            <a href="" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    {{!-- footer  --}}

    {{>footer}}

</body>
</html>