<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    
    {{!-- navbar  --}}

        {{>navbar}}

    {{!-- body  --}}

    <div>
        <div class="container">
            <div class="row my-5">
                <div class="col-12 text-center top_div">
                    <h2 class="mx-5">
                        McCafé® Coffee, Espresso Drinks, Bakery Sweets & More
                    </h2>
                </div>
                <div class="col-12">
                    <img class="img-fluid my-4" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/hero/mccafe_hub_hero.jpg?$Hero_Desktop$" alt="img">
                </div>
            </div>
        </div>
    </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>
                            Good is brewing with our delicious McCafé® drinks and bakery sweets. 
                            Browse the categories below for more information on topics such as our tasty 
                            coffee and espresso drinks, 
                            McCafé® K-Cup® pods and coffee grounds or our McCafé® Rewards program.*
                        </p>
                    </div>
                    <div class="col-12">
                        <small>
                            *Bakery sweets offered at participating McDonald’s.
                        </small>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="container">
                <div class="row my-5">

                    <div class="col-md-6 my-5">
                        <div class="card mcCafe_card">
                            <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/rewards_2col.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">
                                McCafé® Rewards
                            </h2>
                            <p class="card-text">
                                Get a free McCafé® drink when you buy 5. Only in our App.
                            </p>
                            <p class="small_text">
                                McCafé Rewards earned on or before 12/27/2020 are valid through 2/25/2021 at participating U.S. 
                                McDonald's. McCafé Rewards earned on or after 12/28/2020 are valid for 60 days at participating U.S. McDonald's. 
                                McD App download and registration required.
                            </p><br>
                            <a href="" class="btn btn-warning my-4">Learn More</a>
                        </div>
                        </div>
                    </div>

                    <div class="col-md-6  my-5">
                        <div class="card mcCafe_card">
                            <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/MCCafe_Delivery-574x384.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">
                            Coffee Delivery
                            </h2>
                            <p class="card-text">
                               Get the great taste of McCafé® coffee and espresso drinks, as 
                               well as McCafé® Bakery treats, delivered right to your doorstep.
                            </p>
                         
                            <a href="" class="btn btn-warning my-4">Learn More</a>
                        </div>
                        </div>
                    </div>

                    
                    <div class="col-md-6 my-5">
                        <div class="card mcCafe_card">
                            <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/hot_coffee_hub_3col.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">
                               Hot Coffee Drinks
                            </h2>
                            <p class="card-text">
                                Warm up with a hot coffee or espresso drink from the McCafé® menu.
                            </p>
                        
                            <a href="" class="btn btn-warning my-4">Learn More</a>
                        </div>
                        </div>
                    </div>

                    
                    <div class="col-md-6 my-5">
                        <div class="card mcCafe_card">
                            <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/lattes_hub_3col.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">
                               Lattes
                            </h2>
                            <p class="card-text">
                                Learn about our delicious lattes made from sustainably sourced espresso beans.
                            </p>
                        
                            <a href="" class="btn btn-warning my-4">Learn More</a>
                        </div>
                        </div>
                    </div>

                    
                    <div class="col-md-6 my-5">
                        <div class="card mcCafe_card">
                            <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/iced_coffee_hub_3col.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">
                               Iced Coffee Drinks
                            </h2>
                            <p class="card-text">
                                Cool off with a tasty McCafé® Iced Coffee or iced espresso drink, available in a variety of flavors.
                            </p>
                        
                            <a href="" class="btn btn-warning my-4">Learn More</a>
                        </div>
                        </div>
                    </div>


                    <div class="col-md-6 my-5">
                        <div class="card mcCafe_card">
                            <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/frappe_hub_3col.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">
                                Frappés
                            </h2>
                            <p class="card-text">
                                Try our rich, creamy Caramel or Mocha McCafé® Frappés, blended with ice and covered in whipped topping.
                            </p>
                         
                            <a href="" class="btn btn-warning my-4">Learn More</a>
                        </div>
                        </div>
                    </div>

                     <div class="col-md-6 my-5">
                        <div class="card mcCafe_card">
                            <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/onthego_hub_3col.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">
                               McCafé® on the Go
                            </h2>
                            <p class="card-text">
                                Enjoy our ready-to-drink McCafé® Frappés whenever and wherever the day takes you.
                            </p>
                            
                            <a href="" class="btn btn-warning my-4">Learn More</a>
                        </div>
                        </div>
                    </div>
                    
                     <div class="col-md-6 my-5">
                        <div class="card mcCafe_card">
                            <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/Pub_Feature_2up_Desktop_Premium_574x384.jpg?$Publication_Two_Column_Desktop$" alt="img">
                        <div class="card-body">
                            <h2 class="card-title">
                               McCafé® at Home
                            </h2>
                            <p class="card-text">
                                Savor the aroma and taste of our 100% Arabica coffee, available in K-Cup® pods, bags and cans in a variety of blends.
                            </p>
                            <a href="" class="btn btn-warning my-4">Learn More</a>
                        </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

          {{!-- footer  --}}

    {{>footer}}

</body>
</html>