<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{!-- navbar  --}}

    {{>navbar}}

    <div class="signUp_main_div">

        <div class="sign_div_1 my-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 my-5">
                        <h1 class="text-center">
                            McDonald’s Email Signup
                        </h1>
                    </div>
                    <div class="col-12 mb-5">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/hero/emailsignup_hero_DT_.jpg?$Hero_Desktop$" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mail_div">
        <div class="container">
            <div class="row">
                <div class="col-11 my-3">
                    <h2>
                        Sign up to receive emails from McDonald’s
                    </h2>
                    <p class="my-3">Get deals, information on upcoming promotions and more.</p>
                    
                    <p class="small_text">* Indicates a required field</p>

                    <form>
                        <div class="form-group">
                            <input type="email" placeholder="*Email" required>
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="*Zip Code" required>
                        </div>
                        <p>*By selecting "Sign Up," you agree to the McDonald's Privacy Policyopens a new tab 
                            and Terms & Conditionsopens a new tab. Unsubscribe from emails any time. Please note when unsubscribing: 
                            it may take up to 10 business days for your request to take affect.</p>
                        <a href="" class="btn btn-warning my-4">Sign Up for Emails</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="sign_div_3">
        <div class="container">
            <div class="row my-5">
                <h2>
                    Download and Register for the McDonald’s App
                </h2>
                <p>
                    Whether you download the McDonald’s App for iOS or download the McDonald’s App for 
                    Android, you’ll get access to exclusive deals, 
                    like $1 off Large Fries, plus sweepstakes, fun extras and more!
                </p>
            </div>
        </div>  
    </div>



    <div class="sign_div_last">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5">
                    <h2>What you get when you sign up</h2>
                </div>
                <div class="col-md-4 my-4">
                    
                    <div class="card" style="border:none">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/rewards_2col.jpg?$Publication_Three_Column_Desktop$" alt="img">
                        <div class="card-body"> 
                            <h1 class="card-title">Deals</h1>
                            <p class="card-text">
                                Get notified of exclusive in-App deals and offers, like McCafé Rewards, where you’ll 
                                get a free McCafé drink after you buy five drinks.*
                            </p> 
                            <p class="small_text">
                                *McCafé Rewards earned on or before 12/27/2020 are valid through 2/25/2021 at participating U.S. McDonald's. 
                                McCafé Rewards earned on or after 12/28/2020 are valid for 60 days at participating U.S. McDonald's. 
                                McD App download and registration required.
                            </p>   
                        </div>
                    </div>
                            
                </div>


                <div class="col-md-4 my-4">
                    
                    <div class="card" style="border:none">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/promo/promotions_376.jpg?$Publication_Three_Column_Desktop$" alt="img">
                        <div class="card-body"> 
                            <h1 class="card-title">Promotions</h1>
                            <p class="card-text">
                                Learn about promotions and contests.
                            </p> 
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-4 my-4">
                    
                    <div class="card" style="border:none">
                        <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/promo/news_376.jpg?$Publication_Three_Column_Desktop$" alt="img">
                        <div class="card-body"> 
                            <h1 class="card-title">News</h1>
                            <p class="card-text">
                                Get the latest updates on new products, special offers and more.
                            </p> 
                        </div>
                    </div>
                    
                </div>



            </div>
        </div>
    </div>



{{!-- footer --}}

    {{>footer}}

</body>
</html>