<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{!-- navbar  --}}
    {{>navbar}}

    {{!-- body  --}}


        <div class="trend_div_1">
            <div class="container">
                <div class="row">
                    <div class="col-12 my-5">
                        <h1 class="my-5 text-center">Trending Now</h1>
                        <p class="my-5">Get in the loop with the latest on promotions, events, new products and more.</p>
                    </div>
                </div>
            </div>
        </div>



    <div class="common">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8 my-5">
                    <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/mcdelivery/1_Pub_New_Years_1168x520.jpg?$Publication_One_Column_Desktop$" alt="img">
                </div>
                <div class="col-md-4 my-5">
                    <h2>Get $0 Delivery Fee on Uber Eats*</h2>
                    <p>December 31 through January 3, you won’t want to drop the ball and miss out on $0 Delivery Fee. 
                        Get a cheeseburger—or three—at midnight. It’s been a long year. 
                        Valid on a minimum $20 purchase when you order McDelivery® on Uber Eats.</p>
                    <p class="small_text"> *Expires 1/3/21. At participating McDonald’s. Taxes and a Service Fee still apply. 
                        Order minimum before taxes and fees. Cannot be combined. Refer to Uber Eats app for availability. 
                        Prices may be higher than at restaurants.</p>
                        <a class="btn btn-warning my-3" href="">Order Now</a>
                </div>
            </div>
        </div>
    </div>


<div class="common">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8 my-5">
                    <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/mcrib_trendingnow.jpg?$Publication_One_Column_Desktop$" alt="img">
                </div>
                <div class="col-md-4 my-5">
                    <h2>The McRib® is Back! For Now...</h2>
                    <p>It’s here, but only for a limited time. So get going or you might miss out on this saucy 
                        sensation that’s taking the nation.</p>
                  <a class="btn btn-warning my-3" href="">Use the App to Order</a>
                </div>
            </div>
        </div>
    </div>


<div class="common">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8 my-5">
                    <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/trending-now/1_Pub_D123_TrendingNow_Food_1168x520.jpg?$Publication_One_Column_Desktop$" alt="img">
                </div>
                <div class="col-md-4 my-5">
                    <h2>Make Your Own Meal with the $1 $2 $3 Dollar Menu</h2>
                    <p>Whether you’re looking to satisfy a craving with a McDouble® and 4 pc. 
                        Chicken McNuggets®, or loading up your bag with enough late night favorites like Small Fries and a McChicken® for everyone, 
                        your meal is waiting to be made on our $1 $2 $3 Dollar Menu..</p>
                    <p class="small_text"> Prices and participation may vary. Cannot be combined 
                        with any other offer or combo meal.</p>
                        <a class="btn btn-warning my-3" href="">Order in the App</a>
                </div>
            </div>
        </div>
    </div>

<div class="common">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8 my-5">
                    <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/trending-now/OnePub_Desktop_1168x520.jpg?$Publication_One_Column_Desktop$" alt="img">
                </div>
                <div class="col-md-4 my-5">
                    <h2>Contactless Mobile Order & Pay</h2>
                    <p>Mobile Order & Pay is a great call, with exclusive deals on all your favorites, 
                        plus Drive Thru and Curbside pickup.</p>
                    <p class="small_text"> McDonald’s App download and registration required. 
                        Mobile Order & Pay available at participating McDonald’s..</p>
                        <a class="btn btn-warning my-3" href="">Use the App to Order</a>
                </div>
            </div>
        </div>
    </div>

<div class="common">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8 my-5">
                    <img class="img-fluid" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/assets/images/family-fun-hub/1_Pub_Desktop_FamilyHub_EntryPoint_1168x520.jpg?$Publication_One_Column_Desktop$" alt="img">
                </div>
                <div class="col-md-4 my-5">
                    <h2>Creative Entertainment for Your Family</h2>
                    <p>Welcome to our new Family Fun Hub! Discover hours of creative activities for your 
                        kids and make lasting memories for their next birthday!</p>
                   
                        <a class="btn btn-warning my-3" href="">Explore Family Activities</a>
                </div>
            </div>
        </div>
    </div>

  {{!-- footer  --}}

    {{>footer}}

</body>
</html>